@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.main-panel {
  height: calc(100dvh - 10%);
  overflow: hidden;
  @apply p-8;
}

.side-panel {
  height: 100dvh;
}

.side-panel img {
  height: 30px;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
}

.hidden {
  display: none;
}
